node_modules/
desktop/**
!desktop/package.json
docs/**
!docs/package.json

server/node_modules/
server/datastores/
server/temp/

.env
.env.production
.env.staging

config/smolvm/pierre-arm64
config/smolvm/pierre-arm64.smolmachine

.DS_Store