# Clef secrète pour la télémétrie
# Cette clef est nécessaire pour rendre possible la télémétrie
# (= sauvegarder les conversations dans une base de données SQLite centralisée de Pierre)
# Les appels à la route POST.telemetry ne sont autorisés qu'avec cette clef.
# Un organisme hébergeant soi-même PIERRE doit demander par email cette clef à charnould@icloud.com
# Cette clef (et plus généralment le fichier .env) ne doit jamais être disponible sur une répertoire .git
TELEMETRY_KEY=xxxxxxxxxxxxxxxxxxxx
TELEMETRY_PLAINECOMMUNEHABITAT_FR=xxxxxxxxxxxxxxxxxxxx