@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-serif: 'Inclusive Sans', 'sans-serif';
}

/* Hide scrollbars */
/* Hide scrollbar for Chrome, Safari and Opera */

html,
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar: end */

.user {
  @apply mt-8 mb-4 block max-w-[92%] self-end rounded-xl bg-gray-100 px-4 py-3 font-serif text-base/snug text-gray-900 sm:max-w-[80%];
}

/* Bot styles */

.pierre_error {
  @apply max-w-[490px] rounded border border-red-300 bg-red-50 p-2 text-xs leading-4 text-red-600;
}

.pierre_error > span {
  @apply cursor-pointer text-xs font-semibold text-red-600 underline decoration-solid decoration-1 underline-offset-2;
}

[data-role='disclaimer'] {
  @apply max-w-sm text-[12px] leading-tight font-light text-gray-600;
}

.thinking {
  display: inline-block;
  border-radius: 1px;
  width: 10px;
  height: 20px;
  background-color: black;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@utility prose {
  * {
    @apply my-2 text-[15px] text-gray-900;
  }

  pre {
    @apply mt-6 mb-10 -rotate-1 rounded-lg border border-gray-200 p-8 shadow-lg;
  }

  code {
    @apply font-mono text-sm/tight whitespace-pre-wrap;
  }

  /* Typography */

  p {
    @apply my-2 text-[15px] text-gray-900 empty:hidden;
  }

  b,
  strong {
    @apply font-[600];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4 text-[18px] font-medium empty:hidden;
  }

  a {
    @apply text-blue-700 underline underline-offset-3;
  }

  hr {
    @apply hidden;
  }

  /* Lists */

  ol,
  ul {
    @apply my-4;

    ol,
    ul {
      @apply my-1;
    }

    li {
      @apply my-1 ml-6;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-1;
      }
    }
  }

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-disc;
  }

  /* Table */

  th {
    @apply bg-gray-50 font-semibold;
  }

  th,
  td {
    @apply px-2 py-1 text-left text-sm;
  }

  table {
    @apply mb-6;
  }

  th,
  td {
    @apply border border-gray-300;
  }
}
