minimum_version: 2.9.0

service: pierre #<%= ENV['SERVICE'] %>

servers:
  web:
    - 46.224.2.167 #<%= ENV['IP'] %>

# image: pierre # new

registry:
  server: localhost:5555

ssh:
  port: 22 #<%= ENV['SSH_PORT'] %>

volumes:
  - 'datastores:/app/datastores/'

accessories:
  ollama:
    service: ollama
    image: ollama/ollama
    host: 46.224.2.167 #<%= ENV['IP'] %>
    options:
      gpus: all

proxy:
  ssl: true
  app_port: 3000
  # TODO: Make knowledge build a background job.
  # Otherwise request timeout if it takes too long.
  response_timeout: 600
  host: kamal.pierre-ia.org # <%= ENV['HOST'] %>

builder:
  arch: amd64
  remote: ssh://root@46.224.2.167

env:
  clear:
    SERVICE: pierre # <%= ENV['SERVICE'] %>
  secret:
    - ANTHROPIC_API_KEY
    - COHERE_API_KEY
    - GOOGLE_GENERATIVE_AI_API_KEY
    - MISTRAL_API_KEY
    - OPENAI_API_KEY
    - CEREBRAS_API_KEY
    - GROQ_API_KEY
    - TOGETHER_AI_API_KEY
    - AUTH_SECRET
    - AUTH_PASSWORD
    - WEBHOOK_KEY_1
    - WEBHOOK_KEY_2
    - WEBHOOK_KEY_3
    - HUGGINGFACE_ENDPOINT
    - HUGGINGFACE_TOKEN
    - IP
