minimum_version: 2.5.2

service: <%= ENV['SERVICE'] %>

image: <%= ENV['REPO_PATH'] %>

servers:
  web:
    - <%= ENV['IP'] %>

registry:
  username: <%= ENV['USERNAME'] %>
  server: ghcr.io
  password:
    - REGISTRY_TOKEN

volumes:
  - 'datastores:/app/datastores/'

proxy:
  ssl: true
  app_port: 3000
  response_timeout: 300
  host: <%= ENV['HOST'] %>

builder:
  arch: amd64

env:
  clear:
    SERVICE: <%= ENV['SERVICE'] %>
  secret:
    - ANTHROPIC_API_KEY
    - COHERE_API_KEY
    - GOOGLE_GENERATIVE_AI_API_KEY
    - MISTRAL_API_KEY
    - OPENAI_API_KEY
    - CEREBRAS_API_KEY
    - GROQ_API_KEY
    - TOGETHER_AI_API_KEY
    - REGISTRY_TOKEN
    - AUTH_SECRET
    - AUTH_PASSWORD
    - SMS_API_KEY
    - WEBHOOK_KEY_1
    - WEBHOOK_KEY_2
    - WEBHOOK_KEY_3
    - HUGGINGFACE_ENDPOINT
    - HUGGINGFACE_TOKEN
    - IP
