minimum_version: 2.3.0

service: pierre

image: <%= ENV['REPO_PATH'] %>

servers:
  - <%= ENV['IP'] %>

registry:
  username: <%= ENV['USERNAME'] %>
  server: ghcr.io
  password:
    - REGISTRY_TOKEN

volumes:
  - 'telemetry:/app/telemetry/'

proxy:
  app_port: 3000

builder:
  arch: amd64

env:
  secret:
    - ANTHROPIC_API_KEY
    - COHERE_API_KEY
    - GOOGLE_GENERATIVE_AI_API_KEY
    - MISTRAL_API_KEY
    - OPENAI_API_KEY
    - REGISTRY_TOKEN
    - AUTH_SECRET
    - AUTH_PASSWORD
    - TELEMETRY
    - SMS_API_KEY
