minimum_version: 2.8.0

service: <%= ENV['SERVICE'] %>

servers:
  web:
    - <%= ENV['IP'] %>

registry:
  server: 'localhost:5555'

ssh:
  port: <%= ENV['SSH_PORT'] %>

volumes:
  - 'datastores:/app/datastores/'

accessories:
  ollama:
    service: ollama
    image: ollama/ollama
    host: <%= ENV['IP'] %>
    options:
      gpus: all

proxy:
  ssl: true
  app_port: 3000
  # TODO: Make knowledge build a background job.
  # Otherwise request timeout if it takes too long.
  response_timeout: 600
  host: <%= ENV['HOST'] %>

builder:
  arch: amd64

env:
  clear:
    SERVICE: <%= ENV['SERVICE'] %>
  secret:
    - ANTHROPIC_API_KEY
    - COHERE_API_KEY
    - GOOGLE_GENERATIVE_AI_API_KEY
    - MISTRAL_API_KEY
    - OPENAI_API_KEY
    - CEREBRAS_API_KEY
    - GROQ_API_KEY
    - TOGETHER_AI_API_KEY
    - AUTH_SECRET
    - AUTH_PASSWORD
    - WEBHOOK_KEY_1
    - WEBHOOK_KEY_2
    - WEBHOOK_KEY_3
    - HUGGINGFACE_ENDPOINT
    - HUGGINGFACE_TOKEN
    - IP
