#pierre-ai {
  z-index: 9990;
  cursor: pointer;
  color: #fff;
  background-color: #363636;
  border-radius: 100px;
  padding: 15px 20px;
  font-family: monospace;
  font-size: 15px;
  transition: transform .35s;
  position: fixed;
  box-shadow: 0 0 6px #4e4e4e;
}

#pierre-ai:hover {
  transform: scale(1.15);
}

#pierre-ai_wrapper {
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur();
  z-index: 9998;
  background-color: rgba(25, 29, 68, .1);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: .5s forwards blur;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

#pierre-ai_iframe {
  z-index: 9999;
  opacity: 0;
  border: none;
  border-radius: 10px;
  width: 600px;
  height: 700px;
  animation: 1s forwards fadeIn;
  box-shadow: 0 0 0 1px rgba(15, 33, 50, .05), 0 .1em 2.8em -.8em rgba(15, 33, 50, .1), 0 .2em 3.2em -1.2em rgba(15, 33, 50, .2), 0 .4em 2em -1.2em rgba(15, 33, 50, .3), 0 .6em 2.4em -1.6em rgba(15, 33, 50, .4), 0 .8em 2.8em -2em rgba(15, 33, 50, .5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blur {
  from {
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur();
  }

  to {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
