@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@import 'tailwindcss';

@layer {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility prose {
  code {
    border-radius: 10px;
    background-color: #0000ff05;
    margin: 20px 0 20px 0;
    padding: 0 20px 20px 20px;
    display: block;
    color: #000000b0;
    white-space: pre-wrap;
    font-family: Georgia;
    font-size: 1rem;
  }

  /* Typography */

  p {
    @apply my-2 font-['Inter'] text-[17px] font-[370] leading-[24px] empty:hidden;
  }

  b,
  strong {
    @apply font-[600];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4 text-[19px] font-medium empty:hidden;
  }

  a {
    @apply text-blue-700 underline underline-offset-3;
  }

  hr {
    @apply my-2 border-1 border-zinc-200;
  }
  /* Lists */

  ol,
  ul {
    @apply my-4;

    ol,
    ul {
      @apply my-1;
    }

    li {
      @apply my-1 ml-6;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-1;
      }
    }
  }

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-disc;
  }
}
