@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-serif: 'Space Grotesk', 'sans-serif';
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user {
  @apply mt-4 mb-8 max-w-[80%] self-end rounded-xl bg-gray-100 px-4 py-3 font-serif text-base/snug text-gray-900;
}

/* Bot styles */

[data-role='disclaimer'] {
  @apply max-w-sm text-[11px] leading-tight font-light text-gray-500;
}

.thinking {
  display: inline-block;
  border-radius: 1px;
  width: 10px;
  height: 20px;
  background-color: black;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@utility prose {
  * {
    @apply my-2 text-base/snug text-gray-900;
  }

  pre {
    @apply mt-6 mb-10 -rotate-1 rounded-lg border border-gray-200 p-8 shadow-lg;
  }

  code {
    @apply font-mono text-sm/tight whitespace-pre-wrap;
  }

  /* Typography */

  p {
    @apply my-2 text-base/snug text-gray-900 empty:hidden;
  }

  b,
  strong {
    @apply font-[600];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4 text-[18px] font-medium empty:hidden;
  }

  a {
    @apply text-blue-700 underline underline-offset-3;
  }

  hr {
    @apply hidden;
  }

  /* Lists */

  ol,
  ul {
    @apply my-4;

    ol,
    ul {
      @apply my-1;
    }

    li {
      @apply my-1 ml-6;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-1;
      }
    }
  }

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-disc;
  }
}
