/* User font */
/* https://weiweihuanghuang.github.io/Work-Sans/ */
@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/WorkSans-Regular.woff2') format('woff2'),
    url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

/* Bot font */
/* https://rsms.me/inter/ */
/* https://webfont.yabe.land/en/misc/convert-ttf-woff2/ */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  font-optical-sizing: auto;
  src:
    url('../fonts/InterVariable.woff2') format('woff2'),
    url('../fonts/InterVariable.ttf') format('truetype');
}

@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  /* TODO: make it works only for fontFamily Sans */
  /* https://rsms.me/inter/#features */
  --default-font-feature-settings: 'ss03', 'liga', 'calt', 'ss01', 'cv10', 'cv08';
}

/* Hide scrollbars */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Style user inputs */
/* TODO: handle right-to-left language */

.user {
  @apply float-right mt-8 mb-2 rounded-xl bg-stone-100 px-5 py-2 font-['Work_Sans'] text-base;
}

/* Bot styles */

.thinking {
  background-color: black;
  border-radius: 9999px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  animation: 1.5s ease-in-out infinite pulsing;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@utility prose {
  code {
    border-radius: 10px;
    background-color: #0000ff05;
    margin: 20px 0 20px 0;
    padding: 0 20px 20px 20px;
    display: block;
    color: #000000b0;
    white-space: pre-wrap;
    font-family: sans-serif;
    font-size: 1rem;
  }

  /* Typography */

  p {
    @apply my-2 text-[17px] leading-[24px] font-[370] empty:hidden;
  }

  b,
  strong {
    @apply font-[600];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4 text-[19px] font-medium empty:hidden;
  }

  a {
    @apply text-blue-700 underline underline-offset-3;
  }

  hr {
    @apply my-2 border-1 border-zinc-200;
  }

  /* Lists */

  ol,
  ul {
    @apply my-4;

    ol,
    ul {
      @apply my-1;
    }

    li {
      @apply my-1 ml-6;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-1;
      }
    }
  }

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-disc;
  }
}
