@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";

/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); */

:root {
  --rgb-black: 13, 13, 13;
  --font-family: "Inter", sans-serif; /* Inter "Space Grotesk" */
}

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-family);
  font-size: 16px;
}

body {
  background-color: white;
  -webkit-text-size-adjust: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0px;
  overflow-wrap: break-word;
}

body {
  color: rgb(var(--rgb-black));
  max-width: 750px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  margin: auto;
  padding: 20px 20px 10px;
  display: flex;
}

#conversation {
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style-type: none;
  overflow-y: scroll;
}

#conversation::-webkit-scrollbar {
  display: none;
}

pre {
  border-radius: 15px;
  padding: 10px 30px 30px 30px;
  border: 1px solid #ededed;
  white-space: break-spaces;
}

pre,
pre > code {
  font-family: var(--font-family);
  line-height: 1.5;
}

p {
  margin: 10px 0px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 450;
}

b {
  font-weight: 600;
}

a {
  border-bottom: 1px solid rgba(0, 0, 255, 0.37);
  text-decoration: none;
  color: #00f !important;
}

span[data-thinking] {
  background-image: url("spinner.svg");
  background-repeat: no-repeat;
  height: 25px;
  width: 30px;
}

#ask {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  display: flex;
}

#input {
  border: 0;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 25px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  width: 100%;
  padding: 10px 10px 10px 20px;
  display: flex;
}

#prompt {
  field-sizing: content;
  resize: none;
  min-height: 1lh;
  max-height: 10lh;
  caret-color: #00f;
  color: #00f;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.07rem;
}

#prompt::-ms-input-placeholder {
  color: rgba(var(--rgb-black), 0.35);
}

#prompt::placeholder {
  color: rgba(var(--rgb-black), 0.35);
}

#submit {
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #1b1b1b;
  border: none;
  border-radius: 100px;
  padding: 2px 6px;
  display: block;
}

#disclaimer {
  text-align: center;
  color: rgba(var(--rgb-black), 0.45);
  margin: 0;
  font-size: 0.60rem;
  line-height: 1.4;
  margin-bottom: 12px;
}

#disclaimer > a {
  color: rgba(var(--rgb-black), 0.5) !important;
  border-bottom: 1px solid rgba(var(--rgb-black), 0.25) !important;
}

p[data-role="user"] {
  margin: 30px 0px;
  max-width: 75%;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: rgba(244, 244, 244, 1);
  float: right;
}

div[data-role="system"],
p[data-role="system"]  {
  position: relative;
  clear: both;
  padding-left: 37px; /* Adjust based on the width of the avatar */
}


div[data-role="system"]::before,
p[data-role="system"]::before {
  content: url(system.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.examples {
  padding-left: 37px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px
}


.tip {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 400;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 6px 12px;
}

.loading {
  display: inline-block;
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  animation: l1 1.5s infinite ease-in-out;
}

@keyframes l1 {
  0% {
    transform: scale(1);
}
50% {
    transform: scale(1.4);
}
100% {
    transform: scale(1);
}
}

